Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
BreakBeforeBraces: Allman
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
NamespaceIndentation: All
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 0
SortIncludes: false
