Language: Cpp
Standard: c++17
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: 1
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
